:root{
    --display: #656F5D;
    --body: #131112;
}
body{
    background-color: gray;
}
div#root{
    display: flex;
    justify-content: center;
    margin: 1em;
}
div.display{
    background-color: var(--display);
    max-width: 80%;
    padding: 1em;
    border: 1px solid black;
    height: 15px;
    display: grid;
    justify-self: center;
    min-width: 80%
}
div.Caclulator{
    background-color: var(--body);
    width: 250px !important;
    height: 300px !important;
    display: grid;
    grid-template-areas: "div"
    "div"
    "div"
    "div"
    "div"
    "div";
    border: 1px solid white;
    padding: 0.5em;
}
button.number{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0.4em
}
div.calcRow{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    max-width: 100%;
    min-width: 100%;
    justify-self: center;
    justify-content: center;
}
.functions{
    max-width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-self: center;
    justify-content: center;
}
.functions button{
    margin: 0em 0.5em;
    border: solid black 1px;
    border-radius: 0em;
}
.last-calcRow{
    display: grid;
    grid-template-columns: 40% 40%;
    max-width: 100%;
    min-width: 100%;
    justify-self: center;
    justify-content: center;
}